.headerContainer{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 56px;
    padding: 0 10px;
}

.searchContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.searchInput{
    border-radius: 5px;
}

.headerTitle{
    color: #FF4B2B;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.listContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.link {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.link:active {
	transform: scale(0.95);
}
