.modelContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 56px;
    padding: 0 10px;
    min-width: 400px;
    min-height: 400px;
    max-width: 400px;
    max-height: 400px;
    overflow: auto;
}

.modelHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
}

.modelTitle {
    text-align: center;
}

.modelClose {
    font-size: 16px;
    padding: 2px;
    cursor: pointer;
}