.notificationContainer {
    position: absolute;
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    right: -200px;
    width: 200px;
    height: 100px;
    padding: 10px;
    top: 0;
    transition: right 300ms ease-in-out;
}

.show{
    right: 0;
}

.notificationTitle{
    text-align: center;
    color: black;
}

.notificationContent{
    color: #f6f5f7;
}