.timelineContainer{
    overflow-y: auto;
}

.postList li{
    max-height: 790px;
}

.notfoundPosts{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}